---
import About from "../components/About.astro";
import Attractions from "../components/Attractions.astro";
import Contact from "../islands/ContactForm";
import Events from "../components/Events.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials.astro";
import Location from "../components/Location.astro";
---

<Layout>
  <div class="bg-brand-bg">
    <Header client:visible />
    <main>
      <Hero />
      <About />
      <Testimonials />
      <Attractions />
      <Events />
      <Location />
      <Contact client:visible />
    </main>
    <Footer />
  </div>
</Layout>
